{% extends "layout.html" %}
{% block body %}
	<link rel="stylesheet" href="{{ url_for('static',filename='css/dan.css') }}">
  	<div class="container-fluid">
  		<div class="row-fluid">
  			<div class="span10 offset1">
  				<div class="page-header">
  					<h1 class="setCenter">單  字  檢  索</h1>
  				</div>
  				<!-- 檢索 -->
  				<form class="form-horizontal setCenter" action="/dan">
  					<fieldset>
  						<div class="control-group">
							<div class="input-append">
							  <input class="input-xlarge" id="zi" name="zi" type="text"  placeholder= 
							  {% if ext is not defined or ext.opt=="hanzi" %}""{% endif %}
							  >
							  <button class="btn btn-primary btn-large" type="submit">檢 索</button>
							  
  						</div>
  						<div class="control-group"></div>
  						<div class="control-group">
					          <label class="radio inline">
					            <input type="radio" name="opt" value="hanzi" {% if ext is not defined or ext.opt=="hanzi" %}checked{% endif %}>
					            漢字
					          </label>
					          <label class="radio inline">
					            <input type="radio" name="opt" value="sheng" {% if ext is defined and ext.opt=='sheng' %}checked{% endif %}>
					            聲母
					          </label>
					          <label class="radio inline">
					            <input type="radio" name="opt" value="yun" {% if ext is defined and ext.opt=='yun' %}checked{% endif %}>
					            韻母
					          </label>
					          <label class="radio inline">
					            <input type="radio" name="opt" value="xiaoyun" {% if ext is defined and ext.opt=='xiaoyun' %}checked{% endif %}>
					            小韻
					          </label>
<!-- 					          <label class="radio inline">
					            <input type="radio" name="opt" value="sgsf" {% if ext is defined and ext.opt=='sgsf' %}checked{% endif %}>
					            聲符
					          </label>
					          <label class="radio inline">
					            <input type="radio" name="opt" value="sgyb" {% if ext is defined and ext.opt=='sgyb' %}checked{% endif %}>
					            韻部
					          </label>	 -->
					          <label class="radio inline">
					            <input type="radio" name="opt" value="zgys" {% if ext is defined and ext.opt=='zgys' %}checked{% endif %}>
					            中古拼音
					          </label>
					          <label class="radio inline">
					            <input type="radio" name="opt" value="pychn" {% if ext is defined and ext.opt=='pychn' %}checked{% endif %}>
					            拼音
					          </label>
					          <label class="radio inline">
					            <input type="radio" name="opt" value="jpnhan" {% if ext is defined and ext.opt=='jpnhan' %}checked{% endif %}>
					            漢音
					          </label>
					          <label class="radio inline">
					            <input type="radio" name="opt" value="jpnwu" {% if ext is defined and ext.opt=='jpnwu' %}checked{% endif %}>
					            吳音
					          </label>
					          <label class="radio inline">
					            <input type="radio" name="opt" value="kor" {% if ext is defined and ext.opt=='kor' %}checked{% endif %}>
					            韓語
					          </label>
<!-- 					          <label class="radio inline">
					            <input type="radio" name="opt" value="vnm" {% if ext is defined and ext.opt=='vnm' %}checked{% endif %}>
					            越南
					          </label>		 -->				          				      
				        </div>
  					</fieldset>
  				</form>
  				{% if ext is defined and ext.err==-1 %}
  					<div class="alert alert-error setblank">輸入格式錯誤！</div>
  				{% else %}
	  				{% if results is not defined %}
	  				{% else %}
						<table class="table table-bordered table-condensed">
							<tbody>
								<tr>
									<th>漢字</th>
									<th>小韻</th>
									<th>反切</th>
									<th>聲母</th>
									<th>韻母</th>
									<th>調</th>
									<th>等</th>
									<th>呼</th>
									<th>攝</th>
									<th>中古鄭張</th>
									<th>中古拼音</th>
									<th>上古聲符</th>
									<th>上古韻部</th>
									<th>上古鄭張</th>
									<th>拼音</th>
									<th>日語漢音</th>
									<th>日語吳音</th>
									<th>朝鮮</th>
									<th>越南</th>
								</tr>
								{% autoescape false %}
								{% for entry in results %}
									<tr>
										<td>{% if entry.zi is defined %} {{entry.zi}}{% endif %}</td>
										<td>{% if entry.xiaoyun is defined %}{{entry.xiaoyun}}{% endif %}</td>
										<td>{% if entry.fanqie is defined %}{{entry.fanqie}}{% endif %}</td>
										<td>{% if entry.sheng is defined %}{{entry.sheng}}{% endif %}</td>
										<td>{% if entry.yun is defined %}{{entry.yun}}{% endif %}</td>
										<td>{% if entry.diao is defined %}{{entry.diao}}{% endif %}</td>
										<td>{% if entry.deng is defined %}{{entry.deng}}{% endif %}</td>
										<td>{% if entry.hu is defined %}{{entry.hu}}{% endif %}</td>
										<td>{% if entry.she is defined %}{{entry.she}}{% endif %}</td>
										<td>{% if entry.zgzz is defined %}{{entry.zgzz}}{% endif %}</td>
										<td>{% if entry.zgys is defined %}{{entry.zgys}}{% endif %}</td>
										<td>{% if entry.shengfu is defined %}{{entry.shengfu}}{% endif %}</td>
										<td>{% if entry.yunbu is defined %}{{entry.yunbu}}{% endif %}</td>
										<td>{% if entry.sgzz is defined %}{{entry.sgzz}}{% endif %}</td>
										<td>{% if entry.pinyin is defined %}{{entry.pinyin}}{% endif %}</td>
										<td>{% if entry.han is defined %}{{entry.han}}{% endif %}</td>
										<td>{% if entry.wu is defined %}{{entry.wu}}{% endif %}</td>
										<td>{% if entry.kr is defined %}{{entry.kr}}{% endif %}</td>
										<td>{% if entry.vn is defined %}{{entry.vn}}{% endif %}</td>
									</tr>
								{% endfor %}
								{% endautoescape %}
							</tbody>
					    </table>

					    {% if ext.totalpage > 1 %}
						    <div class="pagination">
						    	<ul>
						    		{% if ext.curpage == 1 %}
						    		<li class="disabled"><a href='/'> 上一頁 </a></li>
						    		<li class="disabled"><a href='/'> 1 </a></li>
						    		{% else %}
						    		<li class="active"><a href={{'/dan?zi='+ext.zi+'&opt='+ext.opt+'&page=%d'|format(ext.curpage-1)}}> 上一頁 </a></li>
						    		<li class="active"><a href={{'/dan?zi='+ext.zi+'&opt='+ext.opt+'&page=1'}}> 1 </a></li>						 
						    		{% endif %}

						    		{% for idx in range(2,ext.totalpage) %}
							    		{% if ext.curpage == idx %}
							    		<li class="disabled"><a href='/'> {{idx}} </a></li>
							    		{% else %}
							    			{% if idx > ext.curpage-4 and idx < ext.curpage+4 %}
							    			<li class="active"><a href={{'/dan?zi='+ext.zi+'&opt='+ext.opt+'&page=%d'|format(idx)}}> {{idx}} </a></li>
							    			{% endif %}
							    			{% if idx == ext.curpage-4 or idx == ext.curpage+4 %}
							    			<li class="disabled"><a href='/'> ... </a></li>
							    			{% endif %}
							    		{% endif %}
						    		{% endfor %}

						    		{% if ext.curpage == ext.totalpage %}
						    		<li class="disabled"><a href='/'> {{ext.totalpage}} </a></li>
						    		<li class="disabled"><a href='/'> 下一頁 </a></li>
						    		{% else %}
						    		<li class="active">
						    			<a href={{'/dan?zi='+ext.zi+'&opt='+ext.opt+'&page=%d'|format(ext.totalpage)}}> {{ext.totalpage}} </a>
						    		</li>
						    		<li class="active"><a href={{'/dan?zi='+ext.zi+'&opt='+ext.opt+'&page=%d'|format(ext.curpage+1)}}> 下一頁 </a></li>
						    		{% endif %}
						    	</ul>
						    </div>
					    {% endif %}
				    {% endif %}
			    {% endif %}
  			</div>
  		</div>
  	</div>
{% endblock %}