<!doctype html>
<!-- <html>
  <head> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TogsKlogqala的漢字古今中外音</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <style type="text/css">
      body{
        padding-top: 60px;
        font-family: "Helvetica Neue",Helvetica,Arial,Minglan,"Hiragino Kaku Gothic Pro","黑體-繁",MingLiU,sans-serif;
      }
      a {
        color: #4285db;
      }
      th{
        background: #f0f0f0;
      }
    </style>
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
  <!-- </head> -->
<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">TogsKlogqala的漢字古今中外音</a>
      <ul class="nav">
        <li><a href="/">單字檢索</a></li>
        <!-- <li><a href="/ju">整句檢索</a></li> -->
      </ul>
    </div>
  </div>
</div>
{% block body %}{% endblock %}